/* ContactHero.css */
.contact-hero-container {
    background-color: #000; /* Adjust to your background color */
    color: #fff;
    text-align: center;
    padding:30px 20px;
  }
  
  .contact-hero-heading {
    font-size: 3em;
    font-weight: bold;
    line-height: 1.2;
  }
  
  .gradient-text {
    background: linear-gradient(90deg, #af6de6, #1854bb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 3em; 
    display: inline-block;
  }
  