.work-section-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden; /* Ensure the cloned content doesn't cause a visible scroll bar */
    scroll-behavior: smooth;
    padding: 20px;
    gap: 20px;
    position: relative;
    width: 100%;
}

.work-section-title {
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    padding-left: 20px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.project-component {
    flex: 0 0 auto;
    width: 50%;
}

